body{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
	line-height: 1.5;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.marginLeft{
	margin-left: 250px;
}
.box{
	width: 70%;
	height: auto;
	background: #fff;
	margin: 40px auto;
}
.header-box {
	width: 100%;
	height: auto;
	margin-top: -20px;
	background: #153439;
}
.content-box {
	padding: 15px;
}
.shadow {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
			 box-shadow: 0 10px 6px -6px #777;
	border: solid 1px #777;
	 
}

.unactive {
	background: silver;
  opacity: 0.2;
}
/*Toogle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
	height: 34px;
	position: absolute;
	top: 10%;
	left: 81%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#lieu_Arrivee label {
	font-size: 20px;
}
.input-box {
    width: 280px;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}

.active{
	background-color: white;
	color:black;
}
.topNav {
	overflow: hidden;
	background-color: #e9e9e9;
}

.topNav a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topNav > li {
	float: right;
}

/* Style the search box inside the navigation bar */
.topNav > li > input[type=text] {
    padding: 6px;
    border: none;
    width: 350px;
    margin-top: 8px;
    margin-right: 40em;
    font-size: 17px;
    text-align: center;
}

@media screen and (max-width: 1240px) {
	.topNav > li > input[type=text] {
		float: none;
		display: block;
		margin-right: 0px;
		width: 250px;
	}
}
@media screen and (max-width: 600px) {
	.topNav > li > input[type=text] {
		float: none;
		display: block;
		margin-right: 0px;
		width: 180px;
	}
}

.topNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #153439;
}

.topNav > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topNav > li a:hover:not(.active) {
	background-color: tomato;
}

#title-header-menu{
	color:white;
	margin-left: 11px;
	margin-top: 51px;
}
h1{
  color:#fff;
	margin-left: auto;
  margin-right: auto;
  display:table;
}
.leftMenu{
	height: 100%;
	background-color:  #153439;
	position: fixed;
	left: 0;
  	top: 0;
	width: 50px;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
	border-right: solid 1px white;
}
.hamburger{
	width	: 40px;
	height	: 40px;
	border-radius: 50%;
	background-color: whitesmoke;
	float	: right;
	margin-right: 5px;
	margin-top: 5px; 
	text-align: center;
	cursor	: pointer; 
	box-shadow: 0px 3px 4px rgba(0,0,0,.5); 
	position: relative; 
	transform: rotate(0deg);
}
.bvn_Message{
	color: white;
	margin-left: 5px;
	font-size: 15px;
}
body.marginLeft .bvn_Message{
	margin-left: 1em;
}
#message-leftMenu{
	opacity: 0;
	font-size: 15px;
	margin-left: 5px;
	transition-delay: 0.2s;
}
.openMenu > .leftMenuList > #message-leftMenu{
	opacity: 1;
}
.hamburger.open{
	background-color: tomato;
	transition: all ease .5s;
}
.hamburger:hover {
	box-shadow: none; 
	transition: all ease .5s;
	transform: rotate(360deg);
	
}
.hamburger span{
	width	: 60%;
	height	: 3px;
	background-color: #000;
	display: block;
	border-radius: 1px;
	float	: left;
	margin-left: 20%; 
	transition: all ease .3s;
}
.hamburger span:nth-child(1){
	margin-top: 13px; 
}
.hamburger span:nth-child(2){
	margin-top: 3px; 
}
.hamburger span:nth-child(3){
	margin-top: 3px; 
}
.hamburger .open span:nth-child(1){
	background-color: #fff;
	transform: rotate(45deg);
	transition-timing-function 	: ease-in-out;
	position: absolute;
	top: 5px;
	right: 8px;
	width: 25px;
	transition: all ease .5s;
	border-radius: 10px; 
}
.hamburger .open span:nth-child(2){
	background-color 	: #fff;
	transition-timing-function 	: ease-in-out;
	margin-top: 18px;
	opacity: 0;
	transition: all ease .5s;
}
.hamburger .open span:nth-child(3){
	background-color 	: #fff;
	transform: rotate(-45deg);
	transition-timing-function 	: ease-in-out;
	margin-top: 0px;
	position: absolute;
	top: 18px;
	right: 8px;
	width: 25px;
	transition: all ease .5s;
	border-radius: 10px; 
}
.openMenu{
	width: 250px;
	transition: all ease 1s;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.leftMenuList{
	list-style: none;
	padding: 0;    
}
.leftMenuList li{
	width: 250px;
	/* height: 40px; */
	line-height: 40px;
	color: #fff;
	/*border-bottom: 1px solid white; */
	/* padding : 5px; */
	font-size: 16px;
}

.leftMenuList li:hover{
	background-color: white;
	color:black;
	transition: all ease .5s;
	cursor	: pointer; 
}
.leftMenuList li a{
	text-decoration: none;
	color	: #fff;  
}
.leftMenuList li:hover a{
	text-decoration: none;
	color	: black;  
}
.leftMenuList li a svg{
	width	: 40px;
	height	: 40px;
	float	: left;
	margin-left: 0px;   
}
.leftMenuList li a span{
	text-decoration: none;
	color	: #fff; 
	margin-left: 15px;
	width	: 100%;
}
.leftMenuList li:hover a span{
	text-decoration: none;
	color	: black; 
	margin-left: 15px;
	width	: 100%;
}
i.fa {
	font-size: 25px;
	padding: 9px;
	width: 30px;
	text-align: center;
}
i.fas {
	font-size: 25px;
	padding: 9px;
	width: 30px;
	text-align: center;
}
i.far {
	font-size: 25px;
	padding: 9px;
	width: 30px;
	text-align: center;
}
.active a i.fa{
	color: black;
}

.active a i.fas{
	color: black;
}
.active a i.far{
	color: black;
}

li.active a span{
	color: black;
}
.list-group .collapse{
	border: solid 1px black;
	width: 100%;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	outline: none;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.open .list-group .collapse{
	margin-left: 0;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
	width: 100%;
}

.list-group .active, .collapse:hover{
	border: 1px solid #153439;
	margin-top: -1px;
	background-color: #153439;
	padding: 12px;
	color: white;
	
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
	background-color: #f1f1f1;
  }

.open .content {
	margin-left: 0;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
	width: 100%;
}