body{
    background-color: #ccc;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    background-image: url("../images/website-login-background.jpg");
    background-position-x: 50%;
    background-position-y: 0%;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.box{
    width: auto;
    height: auto;
    background: #fff;
    margin: 40px auto;
}
.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
    border: solid 1px #777;
    padding: 10px;
     
}
input[disabled=disabled] {background: #ccc;}
/*Modal*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.marginLeft{
    margin-left: 250px;
}
.input-box{
    width: 280px;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}
.input-box:focus{
    border-color: #2188ff;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
    outline: none;
}
.login{
    font-size: 14px;
    padding: 20px;
    position: absolute;
    display: grid;
    grid-gap: 15px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
}
.btn{
    -moz-appearance: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    appearance: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}
.login > button{
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
}
.login > button:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.5);
}

.message_Connexion{
    position: absolute;
    left: 50%;
    top: 50%;
}

#error_MSG{
    position: absolute;
    top: 36%;
    left: 38%;
    color: red;

}
#error_Bdd_MSG{
    position: absolute;
    top: 36%;
    left: 43%;
    color: red;
}

#error_Mail_MSG{
    position: absolute;
    top: 36%;
    left: 46%;
    color: red;
}
#error_Mdp_MSG{
    position: absolute;
    top: 36%;
    left: 45%;
    color: red;
}
